<p>Current page is {{currentPage}}</p>
<div  >
	 <a   href="{{'#/pages/'+currentPage+'_0'}}"> To page {{'#/pages/'+currentPage+'_0'}} </a>
	
</div>	

  <p> Hard coded links</p>
       <!-- <div ng-repeat="phone in phones | filter:query | orderBy:orderProp" >
          <a href="#/pages/{{phone.href}}" class="thumb">#/pages/{{phone.href}}</a>
          <a   href="#/pages/page1_0"> To page 1_0 </a>   
          <p>{{phone.vsebina}}</p>
        <div> -->
     
 <a   href="#/pages/page1"> To page 1 </a>    </br>  
 <a   href="#/pages/page1_0"> To page #/pages/page1_0</a> </br> 
 <a   href="#/pages/page1_0_0_0_0"> To page #/pages/page1_0_0_0_0</a> </br>     